body {
  background-color: black;
}

.line {
  position: absolute;
  background-color: wheat;
}

.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}

.vertical {
  width: 1px;
  height: 100%;
  left: 50%;
}
