* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: black;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.game {
  margin: auto;
  width: 750px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: url('img/background.png') center/cover;
  align-items: center;
  border-radius: 20px;
}
.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;

  transition: transform 300ms ease-in;
}
.game__button:hover {
  transform: scale(1.1);
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__timer {
  width: 100px;
  display: inline-block;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  font-size: 32px;
  margin-top: 8px;
  border-radius: 20px;

  visibility: hidden;

  user-select: none;
  cursor: auto;
}
.game__score {
  width: 50px;
  height: 50px;
  font-size: 48px;
  background-color: darksalmon;
  text-align: center;
  border-radius: 50%;
  color: white;
  margin-top: 8px;
  border: 3px solid black;
  line-height: 50px;

  visibility: hidden;

  user-select: none;
  cursor: auto;
}
.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;

  position: relative;
}

.pop-up {
  margin: auto;
  width: 400px;
  height: 140px;
  padding: 20px;
  background-color: #00000090;

  color: white;
  text-align: center;
  border-radius: 20px;

  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__text {
  display: block;
  font-size: 32px;
}

.carrot,
.bug {
  transition: transform 100ms ease-in;
}
.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
